@font-face {
    font-family: myFirstFont;
    src: url(font/Montserrat-Bold.ttf);
 
  }
  @font-face {
    font-family: myFirstFont1;
    src: url(font/Great_Wishes.otf);
 
  }
  .ex1{
    background-color: #000000 ;
  }
  
  html,body{
  
  height: 100vh;
  width: 100vw;
  font-family: 'myFirstFont', sans-serif;
  
}
body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.example{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
.loading {
  margin: 10% auto;
  border-top: 6px solid #304C89;
  width: 125px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 9999;
}

.spin {
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -ms-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    transform: rotate(3670deg);
  }
}

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.class {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}

.up {
  background-color: #648DE5;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
}

.down {
  background-color:  #648DE5;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
}
.ex2{

background-image: url(images/pic2.jpg);
height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

}
.left-text-con,
.right-text-con {
  position: absolute;
  width: 50%;
  height: auto;
  top: 35%;
}

.left-text-con {
  left: -50%;
  text-align: right;
  margin-right: 10px;
}

.right-text-con {
  right: -50%;
}

.text {
  color: #34495e;
  font-size: 4em;
  margin: 0 auto;
}

@media (max-height: 300px) {
  .text {
    font-size: 3em;
  }
  .left-text-con,
  .right-text-con {
    top: 20%;
  }
}

.anchor-user {
font-size: 3em;
position: relative;
bottom: 0;
right: 20px;
color: #000;
}

.anchor-user:hover {
color: #039be5;;
-webkit-transition: color .5s ease;
 -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
   -o-transition: color .5s ease;
      transition: color .5s ease;
}
.welcome-section{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  overflow: hidden;
}

.welcome-section .content-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.welcome-section .content-wrap .fly-in-text {
  list-style: none;
}
.welcome-section .content-wrap .fly-in-text li {
  display: inline-block;
  margin-right: 30px;
  font-size: 3em;
  color: #fff;
  opacity: 1;
  transition: all 2s ease;
}
.welcome-section .content-wrap .fly-in-text li:last-child {
  margin-right: 0;
}

.content{
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background: url(images/pic2.jpg);
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1.title{
  text-align: center;
  padding-top: 40vh;
  color: white;
  font-size: 100px;
  font-family: myFirstFont;
  font-weight: normal;
}
.welcome-section .content-wrap .enter-button {
  display: block;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #adff2f;
  opacity: 1;
  transition: all 1s ease 2s;
}

.welcome-section.content-hidden .content-wrap .fly-in-text li { opacity: 0; }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(1) { transform: translate3d(-100px, 0, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(2) { transform: translate3d(100px, 0, 0); }
.welcome-section.content-hidden .content-wrap .enter-button { opacity: 0; transform: translate3d(0, -30px, 0); }

@media (min-width: 800px) {
  .welcome-section .content-wrap .fly-in-text li { font-size: 6em;}
  .welcome-section .content-wrap .enter-button { font-size: 1.5em; }
}


